
navbar .navbar-brand a{
    color: red;
    background-color: green;
}

nav {
    color: green;
    background-color: #0000;
}

.navbar > li:last-child
{
    float:right;
}

ul .nav {
    float: right
}





