/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";

.card .card-header {
  font-size: 1.5rem;
  color: #00008b;
}

div.card {
  margin-top: 25px
}

.table {
  margin-top: 50px
}

a {
  text-decoration: none; 
}
a:hover {
  text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
}

/* spinner styling */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
 /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
 /* Safari */
  transform: translate(-50%, -50%);
 /* Standard syntax */
  width: 70px;
  height: 70px;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
 }
  40% {
    -webkit-transform: scale(1);
 }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
 }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
 }
}

.navbar {
  height: 5.6rem;
  padding-left: 80px;
}

.navbar .navbar-nav .nav-link {
  padding-right: 80px;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ff0000;
}


