<div class="card">
  <div class="card-header">
    <div class="text-center">
      {{ pageTitle }}
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="./assets/images/tmegha.png"
          class="img-responsive center-block"
          style="max-height: 180px; padding-bottom: 30px"
        />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Temitope Akinmegha</h3>
      </div>
      <div class="text-center">
        <div class="link">
          <div class="socials">
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
          </div>
          <a href="https://www.tmegha.netlify.app">https://www.tmegha.netlify.app</a>
        </div>
      </div>
    </div>
  </div>
</div>
