<div class="card">
  <div class="card-header">
    <div class="text-center">
      {{ pageTitle }}
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="./assets/images/tmegha.png"
          class="img-responsive center-block"
          style="max-height: 180px; padding-bottom: 30px"
        />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Temitope Akinmegha</h3>
      </div>
      <div class="text-center">
        <div class="socials">
          <a
            href="https://www.linkedin.com/in/akinmeghatemitope/"
            target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a href="https://twitter.com/temitopeakin" target="_blank"
            ><i class="fa fa-twitter"></i
          ></a>
          <a href="https://github.com/temitopeakin1/" target="_blank"
            ><i class="fa fa-github" aria-hidden="true"></i
          ></a>
          <a href="https://tmegha.netlify.app/" target="_blank"
            ><i class="fa fa-globe" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
