<div class="card">
  <div class="card-header">
    <div class="text-center">
    {{pageTitle}}
  </div>
</div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/tmegha.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:30px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Akinmegha Temitope (T'megha)</h3>
      </div>
      <div class="text-center">
      <div class="social">
        <!-- <a href=""
      </div> -->
        <a href="https://www.tmegha.netlify.app">www.tmegha.netlify.app</a>
      </div>
    </div>
  </div>
</div>